<html>
<head>
	<title>Introduccion</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="css/bootstrap.css">
	
</head>
<body ng-app="miAp">
	<div class="container">
		<h1>Compartir datos entre Fabricass</h1>
		<hr>
		
		<span class="lead text-info">Controlador 1</span>
		<div ng-controller = "ControladorUno">
			<input type="text" ng-model="nuevoMensaje" size="50">
			<button class="btn btn-success" ng-click="nuevo()"> Guardar</button>
			<h1 class="text-info">{{dato.mensaje}}!</h1>
		</div>
		
		<span class="lead text-info">Controlador 2</span>
		<div ng-controller = "ControladorDos">
			<input type="text" size="50" ng-model="nuevoMensaje">
			<button class="btn btn-success" ng-click="nuevo()"> Guardar</button>
			<h1 class="text-warning">{{dato.mensaje}}!</h1>
		</div>
		
		<div ng-controller="ControladorTres">
			<button class="btn btn-primary" ng-click="resetear()"> Mensaje principal</button>	
		</div>
		
	</div>




	<script src="js/angular.min.js"></script>
	<script src="js/controllers/main.js"></script>
	<script src="js/angular-locale_es-es.js"></script>
	<script src="js/ejemplos.js"></script>
	<script src="js/jquery.js"></script>	
	<script src="js/bootstrap.js"></script>	
</body>
</html>