<div class="row">
    <h1 class="subheader">Consumir un json con $http en AngularJS</h1>
    <ul class="panel callout radius">
        <li ng-repeat="data in datos">
            <p>Id: {{ data.id }} Nombre: {{ data.nombre }} Profesión: {{ data.profesion }}</p>
        </li>
    </ul>

    <h1 class="subheader">Consumir un json con resource en AngularJS</h1>
    <ul class="panel callout radius">
        <li ng-repeat="data in datosResource">
            <p>Id: {{ data.id }} Nombre: {{ data.nombre }} Profesión: {{ data.profesion }}</p>
        </li>
    </ul>
</div>
<a ng-click="openModal('lg')">Abrir modal</a>

<!--template para las modales-->
<script type="text/ng-template" id="myModal.html">
    
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="alert" ng-click="cancel()">&times;</button>
        <h3 class="modal-title">Mi ventana modal</h3>        
    </div>
    <div class="modal-body">
        <div>
            {{ items[1].id }}
        </div>
        <li ng-repeat="data in items">
            <p>Id: {{ data.id }} Nombre: {{ data.nombre }} Profesión: {{ data.profesion }}</p>
        </li>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success form-control" ng-click="save('hey')">Salvar</button>
        <div class="divider-lg"></div><br>
        <button class="btn btn-warning form-control" ng-click="cancel()">Cerrar modal</button>
    </div>
    <form action="home_submit" method="get" accept-charset="utf-8">
        <label>Nombre del Cliente:</label>
        <input type="text" value="{{items[0].nombre}}">
    </form>
</script>

<!--./template para las modales-->